<div class="flex-group-center resource-level">
    <label for="system.attributes.level" class="resource-label">Lv</label>
    <span>{{system.attributes.level}}</span>
</div>

<div class="flex-group-center resource-next-lvl">
    <label for="system.attributes.expnext" class="resource-label">NEXT</label>
    <span>{{system.attributes.expnext}} EXP</span>
</div>