<div class="flex-group-center resource-level">
    <label for="system.attributes.level" class="resource-label">Lv</label>
    <input type="text" name="system.attributes.level" value="{{system.attributes.level}}" data-dtype="Number" />
</div>

<div class="flex-group-center resource-next-lvl">
    <input type="text" name="system.race" value="{{system.race}}" placeholder="Race" />
</div>